// _variables.scss
$primary-color: #090437;
$secondary-color: #4CAF50;
$accent-color: #FFD700;
$Share-button: #f39c12;
$background-color: #F5F5F5;
$text-color: #333;
$link-color: #1E90FF;
$hover-color: darken($primary-color, 10%);
$disabled-color: #B0B0B0;
$border-radius: 5px;
$box-shadow: rgba(4, 22, 55, 10%);
$success-color: green;
$error-color: red;